.input-field
{
	z-index: 1;
}
.input_form
{
	color: #ffffff;
}
.card-content
{
	border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}
.clear-x
{
	clear: both;
}
.card-action
{
	text-align: center;
}
li.disabled > span
{
	color: #ffffff !important;
}
.black-clr
{
	color: #898989;
}
.supllier-card-item-1{
	padding:10px;
}
.supllier-card-item-1>img:first-child{
	margin-left: 10px;
}
.supllier-card-item-1 > *{
	vertical-align: middle;
	display: inline-block;
	margin-right: 20px;
}
.supllier-card-item-1>button:last-child{
	margin-right: 0;
}
.supllier-card-item-1 img{
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
#supplier-details{
	top: 61.5px !important;
	width: 498px !important;
	left: 403px !important;
}
.supllier-card-item-2{
	padding:10px;
}
.inline-display{
	display: inline-block;
	width: 10%;
	margin-left: 20px;
	text-align: center;
}
.supllier-card-item-2 span:first-child{
	margin-left: 1%;
}
.sup-total-item{
	width: 19% !important;
	font-size: 18px;
}
.sup-details-item{
	width: auto;
	margin-top: -4px;
}
.equal-width-3{
	display: inline-block;
	width: 33.33%;
	text-align: center;
}
.equal-width-3>img
{
	width: 35px;
	height: 35px;
}
.text-center{
	text-align: center;
}
.collapsible-body{
	padding:10px;
}
.supplier-acc2 p{
	padding: 0;
}
.supllier-card-item-3{
	padding: 10px;
}
.supllier-card-item-3 .row{
	margin:0;
}
.supllier-card-item-3 h3.header-margin{
	font-size: 20px;
	margin: 0px;
	line-height: 2em;
}
.supllier-card-item-3 button{
	margin-top: -5px;
	margin-left: 6px;
}